@font-face {
  font-family: "SeoulNamsanM";
  src: local("SeoulNamsanM"), url("./font/08SeoulNamsanM_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SeoulNamsanM";
}

:root {
  /* Color */
  --color-main-a: #a593e0;
  --color-main-b: #f77260;
  --color-main-c: #fffff3;

  --color-bg-box: rgba(255, 255, 255, 0.3);
  --color-bg-title: rgba(255, 255, 255, 0.5);

  --color-gray: #656464;
  --color-black: #000000;

  /* Font size */
  --font-micro: 14px;
  --font-small: 16px;
  --font-regular: 18px;
  --font-medium: 28px;
  --font-large: 48px;

  /* Font weight */
  --weight-regular: 400;
  --weight-semi-bold: 700;
  --weight-bold: 900;

  /* Padding size */
  --padding-micro: 5px;
  --padding-small: 10px;
  --padding-large: 15px;
}

a {
  color: var(--color-black);
  text-decoration: none;
}
body {
  background-color: #fcfcfc;
  background-image: url("background.png");
  /* background-attachment: fixed; */
}

/* 모바일 Common CSS */
.mobileMicroPaddingBox {
  padding: var(--padding-micro);
}

.mobileBigPaddingBox {
  padding: var(--padding-large);
}

.mobileSmallPaddingBox {
  padding: var(--padding-small);
}

.mobileImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.mobileBoldText {
  font-weight: bold;
}

.mobileRoot {
  text-align: "center";
  flex-grow: 1;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: transparent;
}
