:root {
  /* Color */
  --color-main-a: #a593e0;
  --color-main-b: #566270;
  --color-main-c: #fffff3;

  --color-bg-dark: #e0e3da;
  --color-bg-light: #f5f4f2;

  --color-gray: #838383;
  --color-black: #000000;
  --color-red: #f05d5d;
}

a {
  color: var(--color-black);
  text-decoration: none;
}
body {
  background-color: #fcfcfc;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
